<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tasks</title>
</head>
<body>
<h1>My Tasks</h1>
  <ul>
  <% @tasks.each do |task| %>
    <li><%= link_to "#{task.title}", task_path(task.id) %></li>
  <% end %>
  </ul>
    <%= link_to "Create new task", new_task_path %>
</body>
</html>
